@import './vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  line-height: 1;
  background-color: $cor-de-fundo;
}
